.signup .col-6  .item{
    background-color: #969EFC;
}
.signup .col-5 .item input{
    border-bottom-width: 1px gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.signup .col-5 .item input:focus, .signupsection .content input:hover, .signupsection .content input:active {
    outline: none;
    box-shadow:none;
}
.signup .col-5 .item .bt{
    background-color: #535CC1;
}
#response {
    color: green;
}
